@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base{
    * {
        @apply border-border outline-ring/50;
    }
    html{
        font-family: var(--font-geist-sans), system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    body{
        letter-spacing: var(--tracking-normal);
    }
    pre, code, kbd, samp{
        font-family: var(--font-jetbrains-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-jetbrains-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --background: oklch(0.9816 0.0017 247.839);
    --foreground: oklch(0.2749 0.0188 258.3656);
    --card: oklch(0.9491 0 0);
    --card-foreground: oklch(0.2749 0.0188 258.3656);
    --popover: oklch(0.9491 0 0);
    --popover-foreground: oklch(0.2749 0.0188 258.3656);
    --primary: oklch(0.6799 0.1156 200.6507);
    --primary-foreground: oklch(0.9491 0 0);
    --secondary: oklch(0.3623 0.0154 259.8106);
    --secondary-foreground: oklch(0.9491 0 0);
    --muted: oklch(0.9417 0.0052 247.879);
    --muted-foreground: oklch(0.3623 0.0154 259.8106);
    --accent: oklch(0.9109 0.007 247.9014);
    --accent-foreground: oklch(0.2749 0.0188 258.3656);
    --destructive: oklch(0.6192 0.1694 25.047);
    --destructive-foreground: oklch(0.9491 0 0);
    --border: oklch(0.8671 0.0106 247.9485);
    --input: oklch(0.8671 0.0106 247.9485);
    --ring: oklch(0.6799 0.1156 200.6507);
    --chart-1: oklch(0.6799 0.1156 200.6507);
    --chart-2: oklch(0.3623 0.0154 259.8106);
    --chart-3: oklch(0.7591 0.1028 220.1358);
    --chart-4: oklch(0.4276 0.0147 248.1715);
    --chart-5: oklch(0.2749 0.0188 258.3656);
    --sidebar: oklch(0.9491 0 0);
    --sidebar-foreground: oklch(0.2749 0.0188 258.3656);
    --sidebar-primary: oklch(0.6799 0.1156 200.6507);
    --sidebar-primary-foreground: oklch(0.9491 0 0);
    --sidebar-accent: oklch(1 0 0);
    --sidebar-accent-foreground: oklch(0.2749 0.0188 258.3656);
    --sidebar-border: oklch(0.9109 0.007 247.9014);
    --sidebar-ring: oklch(0.6799 0.1156 200.6507);
    --font-sans: Inter;
    --font-serif: serif;
    --font-jetbrains-mono: JetBrains Mono;
    --font-mono: var(--font-jetbrains-mono);
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0px 4px 10px 0px hsl(0 0% 0% / 0.1),
        0px 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: normal;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2749 0.0188 258.3656);
    --foreground: oklch(0.9491 0 0);
    --card: oklch(0.3623 0.0154 259.8106);
    --card-foreground: oklch(0.9491 0 0);
    --popover: oklch(0.2749 0.0188 258.3656);
    --popover-foreground: oklch(0.9491 0 0);
    --primary: oklch(0.6799 0.1156 200.6507);
    --primary-foreground: oklch(0.2749 0.0188 258.3656);
    --secondary: oklch(0.4276 0.0147 248.1715);
    --secondary-foreground: oklch(0.9491 0 0);
    --muted: oklch(0.3623 0.0154 259.8106);
    --muted-foreground: oklch(0.7692 0.0145 248.0166);
    --accent: oklch(0.4276 0.0147 248.1715);
    --accent-foreground: oklch(0.9491 0 0);
    --destructive: oklch(0.6875 0.142 21.4566);
    --destructive-foreground: oklch(0.2749 0.0188 258.3656);
    --border: oklch(0.4276 0.0147 248.1715);
    --input: oklch(0.4276 0.0147 248.1715);
    --ring: oklch(0.6799 0.1156 200.6507);
    --chart-1: oklch(0.6799 0.1156 200.6507);
    --chart-2: oklch(0.9491 0 0);
    --chart-3: oklch(0.7591 0.1028 220.1358);
    --chart-4: oklch(0.7692 0.0145 248.0166);
    --chart-5: oklch(0.9816 0.0017 247.839);
    --sidebar: oklch(0.2749 0.0188 258.3656);
    --sidebar-foreground: oklch(0.9491 0 0);
    --sidebar-primary: oklch(0.6799 0.1156 200.6507);
    --sidebar-primary-foreground: oklch(0.2749 0.0188 258.3656);
    --sidebar-accent: oklch(0.3623 0.0154 259.8106);
    --sidebar-accent-foreground: oklch(0.9491 0 0);
    --sidebar-border: oklch(0.3623 0.0154 259.8106);
    --sidebar-ring: oklch(0.6799 0.1156 200.6507);
    --font-sans: Inter;
    --font-serif: serif;
    --font-jetbrains-mono: JetBrains Mono;
    --font-mono: var(--font-jetbrains-mono);
    --radius: 0.5rem;
    --shadow-2xs: 0px 5px 15px 0px hsl(0 0% 0% / 0.13);
    --shadow-xs: 0px 5px 15px 0px hsl(0 0% 0% / 0.13);
    --shadow-sm:
        0px 5px 15px 0px hsl(0 0% 0% / 0.25),
        0px 1px 2px -1px hsl(0 0% 0% / 0.25);
    --shadow:
        0px 5px 15px 0px hsl(0 0% 0% / 0.25),
        0px 1px 2px -1px hsl(0 0% 0% / 0.25);
    --shadow-md:
        0px 5px 15px 0px hsl(0 0% 0% / 0.25),
        0px 2px 4px -1px hsl(0 0% 0% / 0.25);
    --shadow-lg:
        0px 5px 15px 0px hsl(0 0% 0% / 0.25),
        0px 4px 6px -1px hsl(0 0% 0% / 0.25);
    --shadow-xl:
        0px 5px 15px 0px hsl(0 0% 0% / 0.25),
        0px 8px 10px -1px hsl(0 0% 0% / 0.25);
    --shadow-2xl: 0px 5px 15px 0px hsl(0 0% 0% / 0.63);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        letter-spacing: var(--tracking-normal);
    }
}
